<div class="chat-container">
  <ul #messagesList class="list-unstyled text-white messages">
    <ng-container *ngFor="let msg of messages">
      <app-user-prompt *ngIf="msg.role === 'user'" [message]="msg.content" />
      <app-ai-response *ngIf="msg.role === 'ai'" [response]="msg.content" />
    </ng-container>
  </ul>

  <!-- Fixed input section -->
  <div class="input-section">
    <li class="mb-3">
      <div data-mdb-input-init class="form-outline form-white">
        <textarea
          class="form-control"
          rows="4"
          placeholder="Ask anything..."
          [formControl]="messageControl"
        >
        </textarea>
      </div>
    </li>

    <button
      type="button"
      data-mdb-button-init
      data-mdb-ripple-init
      class="btn btn-warning btn-lg btn-rounded float-end"
      (click)="sendMessage()"
    >
      Send
    </button>
  </div>
</div>
